<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SooperMeals</title>
  <!-- Bootstrap-CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Root-CSS -->
  <!-- <link rel="stylesheet" href="/css/userotp.css"> -->
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container">
      <a class="navbar-brand" href="#">SooperMeals</a>
    </div>
  </nav>

  <div class="col-lg-4 container mt-5 pb-3 border rounded-4 shadow">

    <form id="otpForm" action="/otp" method="POST">
      <div class="d-flex flex-column align-items-center text-center">  
        <h4 class="mb-3 mt-3">Enter your OTP</h4>
        <div class="col-lg-6 form-floating mb-4">
            <input name="otp" type="password" class="form-control border rounded-3" id="otpInput"
              placeholder="otp" required>
            <label for="otpInput">OTP</label>
        </div>
        <button class="col-lg-4 btn btn-primary mb-3" type="submit">Submit OTP</button>
      </div>
    </form>

  </div>
  <!-- Root-JS -->
  <script src="/js/userotp.js"></script>
  <!-- Bootstrap-JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>